.add-to-grocery {
  max-width: 300px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.header {
  display: flex;
  background-color: #f06464;
  color: white;
  padding: 10px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.header-text {
  width: 94%;
}

.close-button {
  background-color: #fefefe;
  color: #f06464;
  font-weight: 400;
  padding: 2px 4px 2px 4px;
  border-radius: 3px;
  box-shadow: #fefefe;
  cursor: pointer;
}

.list-title {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

.items {
  list-style-type: none;
  overflow: auto;
  max-height: 250px;
  padding: 0;
  margin: 0;
  width:98%;
}

.items :last-child {
  border-bottom: none;
}

.item {
  padding: 15px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.plus-icon {
  width: 30px;
  height: 30px;

  cursor: pointer;
  display: flex;
}

.add-item:focus {
  outline: none;
}

.sticky {
  display: flex;
  align-items: center;
  position: sticky;
  bottom: 0;
  /* Add other styles for your sticky div */
  background: #ffffff; /* Just for visibility */
  padding: 5px;
  width: 100%;
}

/* Adjust the spacing and alignment */
.sticky h5 {
  margin-left: 5px;
}

input[type="checkbox"] {
  cursor: pointer;
}

/* Add responsiveness if needed */
@media (max-width: 768px) {
  .grocery-list {
    width: 95%;
  }
}

.sticky > label {
  font-size: 15px;
}

.error-message {
  max-height: 30px;
  color:#f06464;
}
.error-message {
  color:#f06464;
}


.item-input {
  padding: 0px;
  width: calc(100% - 20px); /* 100% of the container width minus the padding */
  padding: 8px 10px; /* Padding inside the input */
  border: 1px solid #ffffff; /* Border of the input */
  border-radius: 4px; /* Rounded corners for the input */
  font-size: 16px; /* Text size inside the input */
  color: #333; /* Text color */
  background-color: #fff; /* Background color of the input */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Inner shadow for the input */

  /* Style for the placeholder text */
  ::placeholder {
    color: #888;
  }

  /* Style for focus state */
  :focus {
    outline: none;
    border-color: #ffffff;
    /*box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px rgba(0, 123, 255, 0.25);*/
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(156 155 155 / 72%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  z-index: 1;
  width: 100%;
  overflow: auto;
  background-color: #f06464;
}

.modal-content {
  align-items: center;
  justify-items: center;
  background-color: #fefefe;
  border: 1px solid #888;
  width: 100%;
  max-width: 300px; /* Same as the max-width of GroceryList component */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.add-to-grocery .modal-content h4 {
  text-align: left;
  margin-left: 10px;
}

.grocery-list-header {
  display: flex;
  align-items: center;
  font-weight: bolder;
  color: #fb5f5f;
  font-size:larger;
  padding: 15px;
}

grocery-list-header h4 {
  width: 90%;
}

.confirm-delete-buttons {
  display: flex;
}

.confirm-delete-button {
  width: 50%;
  background-color: #f06464;
  color: #fff;
}
/* You can add more styles here to suit your needs */


.back-button {
  height: 25px;
  width: 25px;
}