/* MealPlan.css */
.day-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.day-header {
  background-color: #f06464;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.meal-container {
  display: flex;
  gap: 5px;
  background-color: #ecf0f1;
  padding: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.meal-card {
  display: flex; /* Aligns the icon and the editable div inline */
  width: 29%;
  align-items: center; /* Centers them vertically */
  border: 1px solid #fff; /* Border as shown in your picture */
  border-radius: 8px; /* Rounded corners as in your picture */
  padding: 5px; /* Some padding inside the container */
  background-color: #fff;
}

.meal-card .icon {
  width: 35px; /* Set the size of your icon */
  height: 35px; /* Set the size of your icon */
  margin-right: 10px; /* Adds some space between the icon and the editable div */
}

.cart-icon {
  width: 25px; /* Set the size of your icon */
  height: 25px; /* Set the size of your icon */
  margin-top: 8px; /* Adds some space between the icon and the editable div */
  cursor: pointer;
}

.meal-card textarea {
  border: 0px;
  flex-grow: 1; /* Allows the editable div to fill the space not taken by the icon */
  min-height: 100%; /* Gives some minimum height to the div */
  min-width: 30%;
  font-size: 16px;
  font-weight: bold;

}

.meal-card textarea::placeholder {
  font-size: 12px;
  font-weight: lighter;
  color: #ccc
}

.cart {
  background-color: #fff;
  border-radius: 8px;
  padding: 8px;
}