.grocery-list-container {
    font-family: Arial, sans-serif;
    max-width: 800px; /* Adjust as needed */
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: auto;
    text-align: left;
    background-color:#f06464;
    height: fit-content
  }
  
  .grocery-lists {
    max-height: 600px;
    display: flex;
    gap: 3px;
    margin: 0px 8px 8px 8px;
    overflow: auto;
  }

  .grocery-list-column {
    height: auto;
    flex: 1 1 30%;
    width: 30%;
    display: grid;
    grid-auto-rows: minmax(min-content, max-content); /* This makes row height dynamic based on content */
    gap: 3px; /* Space between rows */
  }

  .grocery-lists-header {
    display: flex;
    background-color: #ffffff;
    margin: 8px;
    padding: 3px;
    border: 1px solid #ccc;
    align-items: center;
    border-radius: 8px;
    overflow: auto;
  }


  .grocery-lists-header h2 {
    width: 90%;
    text-align: center;;
  }

  .grocery-lists-header .back-button {
    height: 35px;
    width: 35px;

  }

  .grocery-list {
    overflow:auto;
    width: 90%;
    display: block;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    max-height: 100%;

  }

  
  .grocery-item {
     /* Adjust the number based on your layout preference */
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: left;
  }

  
  .grocery-item:last-child {
    border-bottom: none;
  }
  
  .grocery-item input[type="checkbox"] {
    margin-right: 12px;
  }
  
  .grocery-item span {
    flex: 1;
  }


 