.home-page {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-self: center;
    padding: 5% 20% 5% 20%;
    gap: 15px;
    box-shadow: 0px 0px 4px 0px #f06464;
    border-radius: 10px;
}

.home-page-tile {
    border: none;
    border-radius: 10px;
    padding: 50px;
    width: 50%;
    box-shadow: 0px 0px 4px 0px #f06464;
    cursor: pointer;
}

.home-page-tile img{
    height:100px;
    width: 100px;
}